.menu {
  TD {
    min-width:145px;
    cursor:pointer;
    A {
      text-decoration:none;
      color:inherit;
    }
    &.active {
      background:#fff;
      color:#000;
    }
  }
  .menu-item {
    display:inline-block;
    vertical-align: middle;
  }
  .menu-title {
    background:url('/frontend/Menu/img/menu-ico.png') no-repeat;
    padding-left: 30px;
    background-size: contain;
    &.active {
      background:url('/frontend/Menu/img/menu-ico-active.png') no-repeat;
    }
  }
  .menu-basket {
    background:url('/frontend/Menu/img/bucket-ico.png') no-repeat;
    padding-left: 35px;
    background-size: contain;
    &.active {
      background:url('/frontend/Menu/img/bucket-ico-active.png') no-repeat;
    }
  }
}
