.category {
  LI {
    width:100%;
    .category-item {
      position:relative;
      color:#fff;
      font-size:22px;
      cursor:pointer;
      vertical-align: middle;
      .category-name {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
      }
      .category-bg {
        width:100%;
        vertical-align:bottom;
      }
    }
  }
}
.category-detail {
  .title-separator {
    background:url("/frontend/Category/img/dish-title-separator.jpg") repeat-x;
    height:3px;
  }
  .dishes {
    LI {
      height:110px;
      border-bottom:2px solid #000;
      &:last-child {
        border-bottom: none;
      }
      .dish {
        padding:20px;
        .dish-ico {
          float:left;
        }
        .dish-content {
          margin-left:160px;
          .dish-name {
            .dish-count {
              font-weight: normal;
            }
            font-weight: bold;
          }
          .dish-description {
            height:16px;
            line-height: 16px;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow:hidden;
            margin-bottom:20px;
          }
          .dish-footer {
            .dish-price {
              color:#f94c00;
              float:left;
            }
            .dish-counter {
              float:right;
              SPAN {
                padding: 0 10px;
                &.action-minus, &.action-plus {
                  cursor:pointer;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

.category-title {
  background: url("/frontend/Menu/img/menu-ico.png") no-repeat;
  padding-left: 45px;
  background-size: contain;
  line-height: 30px;
  margin-left: 50px;
}

.dish-detail {
  .dish-header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: url('/frontend/Category/img/back.png'), #8a8989;
    background-repeat: no-repeat;
    background-position: 2% 50%;
    color: #fff;
    font-weight: bold;
  }

  .dish-container {
    padding:0 30px;
    .dish-slider {
      text-align: center;
    }
    .slider-wrapper {
      position:relative;
    }
    .bx-wrapper {
      border:none;
      box-shadow:none;
      IMG {
        margin:auto;
      }
    }
    .dish-data {
      margin: 0 0 30px 0;
      overflow: hidden;
      .dish-title {
        font-weight: bold;
        float:left;
      }
      .dish-price {
        float:right;
        color:#f94c00;
      }
    }
    .dish-description {
      color:#9a9a9a;
    }
    .dish-counter {
      text-align: center;
      margin: 30px 0;
      font-size:28px;
    }
    .wishes {
      .wishes-title {
        color:#9a9a9a;
      }
      .wishes-tags {
        margin: 15px 0;
        .wish {
          color: #f94c00;
          background: #efeded;
          display: inline-block;
          padding: 5px;
        }
      }
    }
  }
}
#slider-next, #slider-prev {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  A {
    text-decoration: none;
    color:#000;
  }
}
#slider-next {
  left: 95%;
}
#slider-prev {
  left: 5%;
}

@media screen and (max-width:1119px) {

}