<script type="text/template" id="template-dish">
    <div class="dish">
        <div class="dish-ico">
            <img src="<%= ico %>" alt=""/>
        </div>
        <div class="dish-content">
            <div class="dish-name"><%= name %></div>
            <div class="dish-description"><%= description %></div>
            <div class="dish-footer">
                <div class="dish-price"><%= price %></div>
                <div class="dish-counter">
                    <span class="action-minus">-</span>
                    <span class="count">12</span>
                    <span class="action-plus">+</span>
                </div>
            </div>
        </div>
    </div>
</script>
