<script type="text/template" id="template-dish">
    <div class="dish">
        <div class="dish-ico">
            <img src="<%= ico %>" alt=""/>
        </div>
        <div class="dish-content">
            <div class="dish-name"><%= name %> <span class="dish-count"><%= count %></span></div>
            <div class="dish-description"><%= description %></div>
            <div class="dish-footer">
                <div class="dish-price"><%= price %></div>
                <%= _.template($('#template-dish-counter').html())() %>
            </div>
        </div>
    </div>
</script>
