<script type="text/template" id="template-confirmed-order">
    <div class="order order-confirmed">
        <table class="order-row">
            <tr class="<% if(isMy) {%> is-my <% } %>">
                <td class="order-checkbox-cont">
                    <div class="order-checkbox"></div>
                </td>
                <td class="order-title">
                   <div class="title-cont"><%= title %></div>
                </td>
                <td class="order-price"><%= price %></td>
                <td class="order-count"><%= count %></td>
                <td class="order-sum"><%= sum %></td>
            </tr>
        </table>
    </div>
</script>
