<script type="text/template" id="template-not-confirmed-order">
    <div class="order order-not-confirmed">
        <table class="order-row">
            <tr class="<% if(isMy) { %> is-my <% } %>">
                <td class="order-checkbox"></td>
                <td class="order-title">
                    <div class="title-cont"><%= title %></div>
                </td>
                <td class="order-price"><%= price %></td>
            </tr>
        </table>
        <div class="order-actions">
            <%= _.template($('#template-not-confirmed-order-actions').html())({price:price}) %>
        </div>
    </div>
</script>
