<script type="text/template" id="template-layout">
    <% if(data.authorized) { %>
        <% if(data.feedback) { %>
            <%= _.template($('#template-header-feedback').html())() %>
        <% } else { %>
            <%= _.template($('#template-header-menu').html())({
                table:data.table,
                code:data.code,
                summary: data.summary
            }) %>
        <% } %>
    <% } else { %>
        <%= _.template($('#template-header-guest').html())() %>
    <% } %>
    <div class="content <%= data.page %>"></div>
</script>
