body {
  font-family: Verdana, sans-serif;
}
.content, .menu {
  width:640px;
  margin:auto;
}
.content {
  &.auth, &.feedback {
    padding-top:150px;
  }
  &.category, &.category-detail, &.dish-detail, &.order {
    padding-top:50px;
  }
}
.bold {
  font-weight: bold;
}
.center {
  margin:20px 0;
  text-align:center;
}