$background: #f94c00;
$color:#ffffff;

header {
  width:100%;
  background:$background;
  color:$color;
  font-size:18px;
  text-align:center;
  line-height: 25px;
  .header-guest, .header-feedback {
    padding:40px;
  }
  .header-feedback {
    text-transform: uppercase;
    SPAN {
      font-weight: bold;
    }
  }
  .name {
    font-size:18px;
    text-transform: uppercase;
    font-weight: bold;
  }
}