.table, .guests, .questions-description{
  width: 100%;
  text-align: center;
  margin:30px 0;
}
.table-number, .guests-count {
  margin-bottom:20px;
}
.call-waiter {
  display: inline-block;
  vertical-align: top;
  line-height: 102px;
}
.questions-ico, .wifier {
  width: 100%;
  text-align: center;
}
.separator {
  width:90%;
}