.input-field-wrapper, .explanation-description, .table-is-busy-description, .explanation-ico, .wifier {
  width: 100%;
  text-align: center;
  margin:30px 0;
}
.input-label {
  margin-bottom:20px;
}
.call-waiter {
  display: inline-block;
  vertical-align: top;
  line-height: 102px;
}
.separator {
  width:90%;
}
.submit-cont {
  width: 100%;
  text-align: center;
  margin:50px 0;
}
.table-is-busy-description {
  color:#f94c00;
}